@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
}

body {
  background: #222;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 2rem;
}

h1 {
  color: #eee;
  font-weight: 500;
  margin-bottom: 2rem;
}

.todoList {
  background: #3a3a3a;
  width: 480px;
  border: #ccc 2px dashed;
  border-radius: 15px;
  padding-block: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  gap: 0rem;
}

.todoList > * {
  margin-block: 1rem;
}

.todoList:first-child {
  margin-top: 2rem;
}

.todoList:last-child {
  margin-bottom: 2rem;
}

.newQuest {
  color: #ccc;
  color: #ccc;
  font-size: 24px;
  font-weight: 500;
  height: 3rem !important;
  width: 26rem !important;
  user-select: none;
}

.quest {
  width: 26rem;
  background: #2f2f2f;
  border-radius: 15px;
  padding: 1.5rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.quest:hover {
  background: #0f0f0f;
}

.titleQuest {
  border: none;
  outline: none;
  
  width:17rem;
  background: none;
  color: #ccc;
  font-size: 24px;
  font-weight: 500;
}

.titleQuest:focus {
  border-bottom: #ccc solid 2px;
}

.checkQuest {
  width: 25px;
  height: 25px;
  outline: none;
  border: none;
}

.btDellQuest {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  color: #ccc;
  font-size: 24px;
  background: none;
  outline: none;
  border: none;
  border-radius: 5px;
}

.btDellQuest:hover {
  background-color: #ad3535;
}

@media only screen and (max-device-width: 600px) {
  .todoList { width: 80%; justify-content: center; gap: 16px; }
  .quest { width: 80% !important }
  .newQuest :nth-child(2) { display: none; }
  .newQuest :nth-child(1) { font-size: 32px; }
  .todoList span {display: flex; justify-content: center;}
  .todoList span div { width: 80% !important; }
  .titleQuest { font-size: 16px; width: 1000%;}
  .btDellQuest { width: 1rem ;height: 1rem; font-size: 16px;}
  .todoList > * {
    margin-block: 0.5rem;
  }
  
  .todoList:first-child {
    margin-top: 1rem;
  }
  
  .todoList:last-child {
    margin-bottom: 1rem;
  }
}